* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    border: solid rgb(0 0 0 /10px);

}

:root {
    --border: 1px solid rgb(24, 12, 64);
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: block;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

h1 {
    color: darkblue;
    border-bottom: solid white;
}

main img {
    /* move profile picture to the right*/
    float: right;
    width: 150px;
    height: auto;
    border: 1.5px solid cornflowerblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 15em;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 20px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 10px double black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: rgb(167, 140, 240);
    color: rgb(13, 1, 25);
}

header,
.grid footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}